<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-left container">
    <h1>Assignment Records</h1>
    <table class="table table-striped table-light">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name of the subject</th>
          <th scope="col">Title of the assignment</th>
          <th scope="col">Evaluation</th>
          <th scope="col">File</th>
        </tr>
      </thead>
      <tbody>
        <% assignmentRecords.forEach(function(item) { %>
        <tr id="<%= item._id %>">
          <td scope="row" fieldName="name_of_subject"><%= item.name_of_subject %> </td>
          <td scope="row" fieldName="title_of_assignment"><%= item.title_of_assignment %> </td>
          <td scope="row" fieldName="evaluation"><%= item.evaluation %> </td>
          <td scope="row"><a fieldName="file" href="<%= item.file %>" class="btn btn-primary" role="button">Download</a>
          </td>
          <% if (loggedIn) { %>
          <td scope="row">
            <a id="edit_assignment_btn" entityId="<%= item._id %>" class="btn btn-primary" role="button">Edit</a>
          </td>
          <td scope="row">
            <a id="delete_assignment_btn" entityId="<%= item._id %>" class="btn btn-primary" role="button">Delete</a>
          </td>
          <% } %>
        </tr>
        <% }); %>

        <% if (loggedIn) { %>
        <tr id="assignmentEditForm">
          <td scope="row">
            <textarea fieldName="name_of_subject" class="form-control" id="post_assignment_1" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="title_of_assignment" class="form-control" id="post_assignment_2" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="evaluation" class="form-control" id="post_assignment_3" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="file" class="form-control" id="post_assignment_4" rows="1"></textarea>
          </td>
          <td scope="row">
            <a id="post_assignment_btn" class="btn btn-primary" role="button">Upload</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

  </div>

  <% include ../partials/scripts.ejs %>
</body>

</html>