<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-center container">
    <h1>Development Record</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Key Dates</th>
          <th scope="col">What did you do?</th>
          <th scope="col">Why?</th>
          <th scope="col">What did you learn from this?</th>
          <th scope="col">How have/will you used/ use this? Any further action?</th>
        </tr>
      </thead>
      <tbody>
        <% developmentRecords.forEach(function(item) { %>
        <tr>
          <td scope="row"><%= item.key_dates %> </td>
          <td scope="row"><%= item.what_did_you_do %> </td>
          <td scope="row"><%= item.why %> </td>
          <td scope="row"><%= item.what_did_you_learn_from_this %> </td>
          <td scope="row"><%= item.how_will_you_use_this %> </td>
        </tr>
        <% }); %>
        <tr>
          <td scope="row">
            <textarea class="form-control" id="post_development_record_1" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_development_record_2" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_development_record_3" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_development_record_4" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_development_record_5" rows="1"></textarea>
          </td>
          <td scope="row">
            <a id="post_development_record_btn" class="btn btn-primary" role="button">Upload</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <% include ../partials/scripts.ejs %>
</body>

</html>