<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-left container">
    <h1>Development Plan</h1>
    <table class="table table-striped table-light">
      <thead class="thead-dark">
        <tr>
          <th scope="col">What do I want/need to learn?</th>
          <th scope="col">What will I do to achieve this?</th>
          <th scope="col">What resources or support will I need?</th>
          <th scope="col">What will my success criteria be?</th>
          <th scope="col">Target dates for review and completion</th>
        </tr>
      </thead>
      <tbody>
        <% developmentPlans.forEach(function(item) { %>
        <tr id="<%= item._id %>">
          <td scope="row" fieldName="what_do_i_need_to_learn"><%= item.what_do_i_need_to_learn %></td>
          <td scope="row" fieldName="what_will_i_do_to_achieve_this"><%= item.what_will_i_do_to_achieve_this %></td>
          <td scope="row" fieldName="what_resources_or_support_will_i_need"> <%= item.what_resources_or_support_will_i_need %></td>
          <td scope="row" fieldName="what_will_my_success_criteria_be"><%= item.what_will_my_success_criteria_be %></td>
          <td scope="row" fieldName="target_dates_for_review_and_completion"><%= item.target_dates_for_review_and_completion %></td>
          <% if (loggedIn) { %>
          <td scope="row">
            <a id="edit_development_btn" entityId="<%= item._id %>" class="btn btn-primary" role="button">Edit</a>
          </td>
          <td scope="row">
            <a id="delete_development_btn" entityId="<%= item._id %>" class="btn btn-primary" role="button">Delete</a>
          </td>
          <% } %>
        </tr>
        <% }); %>

        <% if (loggedIn) { %>
        <tr id="developmentEditForm">
          <td scope="row">
            <textarea fieldName="what_do_i_need_to_learn" class="form-control" id="post_development_plan_1"
              rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="what_will_i_do_to_achieve_this" class="form-control" id="post_development_plan_2"
              rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="what_resources_or_support_will_i_need" class="form-control"
              id="post_development_plan_3" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="what_will_my_success_criteria_be" class="form-control" id="post_development_plan_4"
              rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea fieldName="target_dates_for_review_and_completion" class="form-control"
              id="post_development_plan_5" rows="1"></textarea>
          </td>
          <td scope="row">
            <a id="post_development_plan_btn" class="btn btn-primary" role="button">Upload</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

  </div>
  <% include ../partials/scripts.ejs %>
</body>

</html>